<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Міцні горішки 6 клас</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div class="sidebar">
      <h1>Міцні горішки 6 клас</h1>
      <button onclick="window.location.href='/'">Головна</button>
      <button>Тікток</button>
      <button onclick="window.location.href='/about'">Про нас</button>
      <button onclick="window.location.href='/login'">Увійти</button>
    
    </div class="main-content">
      <div class="content-section">
        <div class="text">
          <h2>Про нас</h2>
          <p>Ласкаво просимо на сайт "Міцні горішки 6 клас"! </p> <p> Ми - команда учнів 6 класу, яка створила цей сайт, щоб ділитися новинами</p> <p>подіями та корисною інформацією для наших однокласників,</p> <p> батьків та вчителів. Тут ви знайдете останні новини про шкільні заходи, цікаві статті, а також корисні ресурси для навчання. Ми прагнемо зробити наш сайт цікавим і корисним для всіх відвідувачів. Дякуємо за ваш візит!</p>
        </div></p>
        <div class="text">
          <h2>Міцні горішки — 6 клас</h2>
          <p>
            Ми крок за кроком вперед і вперед<br>
            Міцні горішки тримають цей секрет<br>
            Сила є в серцях і в очах вогонь<br>
            Нас не зупинить ні час, ні закон
          </p>
          <p>
            6 клас в строю — це потужний заряд<br>
            Разом ми команда, разом скарб<br>
            Дружба, енергія, віра і душа<br>
            Перемога у наших руках
          </p>
          <p>
            Міцні горішки ми рвемо цей біт<br>
            6 клас і нас не зупинить<br>
            Сила й дружба вперед до вершин<br>
            Це наша команда, ми зроблені для змін
          </p>
          <p>
            Ми разом в команді, нас не зламати<br>
            Міцні горішки — час перемагати<br>
            Сила й дружба ведуть нас уперед<br>
            У серцях розгін, а в душі наш секрет
          </p>
          <p>
            6 клас у грі — це впевнений старт<br>
            Кожен наш крок — це переможний старт<br>
            Разом ідемо, нас не зупинить<br>
            Ми віримо в себе, ми робимо шоу
          </p>

        </div>
      </div>
      
</body>
    

    