<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Міцні горішки 6 клас</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="layout">
    
    <div class="sidebar">
      <h1>Міцні горішки 6 клас</h1>
      <button>Головна</button>
      <button>Тікток</button>
      <button onclick="window.location.href='/about'">Про нас</button>
      <button onclick="window.location.href='/login'">Увійти</button>
    </div>

    
    <div class="main-content">
     
      <div class="banner">
        <img src="{{ url_for('static', filename='images/231.png') }}" alt="Banner Image">
      </div>

      
      <div class="content-section">
        <div class="text">
          <h3>Шкільний сайт 6 класу. Новини, події та корисна інформація.</h3>
          <H2>Новини та Подій</H2>
        </div>
      </div>


 
  <div class="news-container">
    {% for n in news %}
    <div class="news-card">
      
      <img src="{{ url_for('static', filename=n['img']) }}" alt="зображення новини" style="max-width:100%; height:auto; border-radius:8px; margin-bottom:10px;">
      <h2>{{ n['title'] }}</h2>
      <button onclick="window.location.href='/news/{{ n['id'] }}'">Читати новину</button>
    </div>  
    {% endfor %}
  </div>



<h2>Розклад</h2>
  <div class="rozclad">
    {% for s in schedules %}
      <div>
        <h3>{{ s['title'] }}</h3>
        <img src="{{ url_for('static', filename=s['img']) }}" alt="{{ s['title'] }}" width="400">
      </div>
    {% endfor %}
</div>


<h2>Теплі спогади</h2>
<div class="memory-container">
    {% for n in news if n['memory'] == 1 %}
    <div class="memory-card">
        {% if n['img'] %}
            <img src="{{ url_for('static', filename=n['img']) }}" alt="{{ n['title'] }}" style="max-width:100%; height:auto; border-radius:8px; margin-bottom:10px;">
        {% endif %}
        <h2>{{ n['title'] }}</h2>
        <p>{{ n['content'][:80] }}...</p>
    </div>
    {% endfor %}
</div>

    
    </div>
  </div>
  <div class = footer>
    <p>© 2025 Міцні горішки 6 клас. Всі права захищені.</p>

  </div>
</body>
</html>

